<app-navbar></app-navbar>

<div class="container">
    <h2 class="text-center p-2">Bookings Made by User</h2>
    <div class="container">
        <div class="card-group">
            <div class="card bg-dark text-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Listing Title</h5>
                    <p class="card-text">Username:</p>
                    <p class="card-text">Email:</p>
                    <p class="card-text">ID:</p>
                    <p class="card-text">Listing ID:</p>
                    <p class="card-text">Price:</p>
                    <p class="card-text">Description:</p>
                    <p class="card-text">Street:</p>
                    <p class="card-text">City:</p>
                    <p class="card-text">Postal Code:</p>
                    <button class="btn btn-success mr-1">Details</button>
                    <button class="btn btn-danger">Remove</button>
                </div>
            </div>
            <div class="card bg-dark text-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Listing Title</h5>
                    <p class="card-text">Username:</p>
                    <p class="card-text">Email:</p>
                    <p class="card-text">ID:</p>
                    <p class="card-text">Listing ID:</p>
                    <p class="card-text">Price:</p>
                    <p class="card-text">Description:</p>
                    <p class="card-text">Street:</p>
                    <p class="card-text">City:</p>
                    <p class="card-text">Postal Code:</p>
                    <button class="btn btn-success mr-1">Details</button>
                    <button class="btn btn-danger">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>