<app-navbar></app-navbar>

<div class="container my-3">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Booking Title</h5>
            <p class="card-text">Username:</p>
            <p class="card-text">Email:</p>
            <p class="card-text">ID:</p>
            <p class="card-text">Booking ID:</p>
            <p class="card-text">Price:</p>
            <p class="card-text">Description:</p>
            <p class="card-text">Street:</p>
            <p class="card-text">City:</p>
            <p class="card-text">Postal Code:</p>
            <button class="btn btn-danger">Remove</button>
        </div>
    </div>
</div>