<app-navbar></app-navbar>

<div class="container">
    <div class="h-100 my-5 p-5 text-white bg-dark rounded-3">
        <h2>Welcome to Admin Page</h2>
        <p>Create Booking or Remove Booking</p>
    </div>
    <div class="container my-5">
        <h2 class="text-center pb-1">All Bookings</h2>
        <div class="card-group">
            <div class="card bg-dark text-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Booking Title</h5>
                    <p class="card-text">Username:</p>
                    <p class="card-text">Email:</p>
                    <p class="card-text">ID:</p>
                    <p class="card-text">Booking ID:</p>
                    <p class="card-text">Price:</p>
                    <p class="card-text">Description:</p>
                    <p class="card-text">Street:</p>
                    <p class="card-text">City:</p>
                    <p class="card-text">Postal Code:</p>
                    <button class="btn btn-primary">Book Listing</button>
                </div>
            </div>
            <div class="card bg-dark text-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Booking Title</h5>
                    <p class="card-text">Username:</p>
                    <p class="card-text">Email:</p>
                    <p class="card-text">ID:</p>
                    <p class="card-text">Booking ID:</p>
                    <p class="card-text">Price:</p>
                    <p class="card-text">Description:</p>
                    <p class="card-text">Street:</p>
                    <p class="card-text">City:</p>
                    <p class="card-text">Postal Code:</p>
                    <button class="btn btn-primary">Book Listing</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container bg-dark text-white p-3">
        <h2>Create Booking</h2>
        <form>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Booking Title</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Booking ID</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Create Booking</button>
        </form>
    </div>
</div>