<app-navbar></app-navbar>
<div class="container my-5">
    <form class="bg-dark text-light p-4 rounded">
        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input type="username" class="form-control" id="Username">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <select class="form-control mb-3">
            <option value="customer">Customer</option>
            <option value="admin">Admin</option>
        </select>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>