<app-navbar></app-navbar>

<div>
    <div class="p-5 bg-dark">
        <h2 class="text-center text-light pb-3">HOME</h2>
        <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn mx-2 btn-success" type="submit">Search</button>
        </form>
    </div>
    <div class="container my-5">
        <h2 class="text-center pb-4">All Bookings</h2>
        <div class="card-group">
            <div class="card bg-dark text-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Booking Title</h5>
                    <p class="card-text">Username:</p>
                    <p class="card-text">Email:</p>
                    <p class="card-text">ID:</p>
                    <p class="card-text">Booking ID:</p>
                    <p class="card-text">Price:</p>
                    <p class="card-text">Description:</p>
                    <p class="card-text">Street:</p>
                    <p class="card-text">City:</p>
                    <p class="card-text">Postal Code:</p>
                    <button class="btn btn-primary">Book Listing</button>
                </div>
            </div>
            <div class="card bg-dark text-light" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Booking Title</h5>
                    <p class="card-text">Username:</p>
                    <p class="card-text">Email:</p>
                    <p class="card-text">ID:</p>
                    <p class="card-text">Booking ID:</p>
                    <p class="card-text">Price:</p>
                    <p class="card-text">Description:</p>
                    <p class="card-text">Street:</p>
                    <p class="card-text">City:</p>
                    <p class="card-text">Postal Code:</p>
                    <button class="btn btn-primary">Book Listing</button>
                </div>
            </div>
        </div>
    </div>
</div>